
<div class="container pt-5 h-100">
    <div class="row h-auto justify-content-evenly">
        <!-- About Me -->
        <div class="col-md-4 mt-5">
            <div class="card rounded-5 text-center w-100 h-auto border border-gray">
                <img src="{{url_for('static',filename='green_img.jpg')}}" class="card-img-top rounded-top-5 profile" alt="...">
                <div class="card-body">
                    <h5 class="card-title">"Me in RGB"</h5>
                    <p class="card-text" style="font-family: 'Courier New', Courier, monospace;">Hello, and welcome to my analytics portfolio. <br>  Quick notes about me:</p>
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Graduated from LSU (EE degree)</p>
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Air Force Veteran</p>
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Provides value through analytics and data ETL</p>
                    <!-- <ul class="list-group list-group-flush m-3">
                        <li class="list-group-item bg-pill border border-white">Graduated from LSU (EE degree)</li>
                        <li class="list-group-item bg-pill border border-white">Air Force Veteran</li>
                        <li class="list-group-item bg-pill border border-white">Data Solutions</li>
                    </ul> -->
                    <!-- <p>I'll continue to update this portfolio as I broaden my skillset.</p> -->
                </div>
            </div>
        </div>
        <!-- Skills -->
        <div class="col-md-7 mt-5">
            <div class="row rounded-5 h-100 d-flex justify-content-evenly bg-white border border-gray">
                <h1 class="text-center pt-5">Areas of Expertise</h1>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Python</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Javascript</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">HTML</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">CSS/Bootstrap</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">SQL/NoSQL</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Power BI/DAX</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Tableau</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Excel/Power Query</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Machine Learning</p>
                </div>
                <div class="col-md-5">
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Neural Networks</p>
                </div>
            </div>    
        </div>
    </div>
</div>
