
<div class="container pt-5 h-100">
    <div class="row h-auto justify-content-evenly">
        <!-- About Me -->
         
        <!-- <div class="col-md-4 mt-5">
            <div class="card rounded-5 text-center h-100 w-100 h-auto border border-light m-0 shadow">
                <div class="bg-dark p-5 rounded-top-5">
                    <img src="{{url_for('static',filename='green_img.jpg')}}" class="card-img-top profile p-5 rounded-top-5 bg-dark col-xs-4" alt="...">
                    <h5 class="card-title fs-1"><span style="color: white;">"Me in </span><span style="color: red;">R</span><span style="color: green;">G</span><span style="color: blue;">B</span><span style="color: white;">"</span></h5>
                </div>
                <div class="card-body p-5">
                    <h5 class="card-title fs-1">"Me in <span style="color: red;">R</span><span style="color: green;">G</span><span style="color: blue;">B</span>"</h5> -->
                    <!-- <p class="card-text fs-3 py-3" style="font-family: cursive;">Welcome to my analytics portfolio. Quick notes about me:</p>
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Graduated from LSU (EE degree)</p>
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Air Force Veteran</p>
                    <p class="text-center bg-pill-0 p-3 rounded-pill">Provides value through analytics and data ETL</p> -->
                    <!-- <ul class="list-group list-group-flush m-3">
                        <li class="list-group-item bg-pill border border-white">Graduated from LSU (EE degree)</li>
                        <li class="list-group-item bg-pill border border-white">Air Force Veteran</li>
                        <li class="list-group-item bg-pill border border-white">Data Solutions</li>
                    </ul> -->
                    <!-- <p>I'll continue to update this portfolio as I broaden my skillset.</p> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- Skills -->
        <div class="mt-5">
            <div class="row h-auto p-5 d-flex justify-content-evenly bg-white border shadow rounded">
                <!-- about me section -->
                <div class="my-5">
                    <div class="text-center h-auto w-100 m-0 row">
                        <!-- <div class="col-md-5 bg-dark p-1">
                            <img src="{{url_for('static',filename='green_img.jpg')}}" class="card-img-top profile p-5 bg-dark" alt="...">
                        </div> -->
                        <div class="col-md-5 card-body row justify-content-evenly align-items-center m-0 p-0">
                            <div class="col-8 col-sm-8 col-md-5 h-auto">
                                <img src="{{url_for('static',filename='green_img.jpg')}}" class="p-1 bg-dark img-fluid rounded" alt="...">
                            </div>
                            <div class="col-8 col-sm-8 col-md-5 h-auto">
                                <p class="card-text fs-4 py-3" style="font-family: cursive;">Welcome to my analytics portfolio.  Check out my skills below, but in the meantime, here are a few notes about me:</p>
                                <p class="text-center header-pill p-3 rounded">Avid fisherman</p>
                                <p class="text-center header-pill p-3 rounded">Military Veteran</p>
                                <p class="text-center header-pill p-3 rounded">Complex data -> Simple solutions</p>
                            </div>
                            <!-- <h5 class="card-title fs-1">"Me in <span style="color: red;">R</span><span style="color: green;">G</span><span style="color: blue;">B</span>"</h5> -->
                        </div>
                    </div>
                </div>
                <!-- <h1 class="text-center pt-1 fs-1">Skills</h1> -->
                <div class="row justify-content-evenly border bg-light rounded my-2">
                    <p class="text-center text-secondary fs-3 p-1" >Coding</p>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Python</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Javascript</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">HTML</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">CSS / Bootstrap</p>
                    </div>
                </div class="text-center">
                <div class="row justify-content-evenly border bg-light rounded">
                    <p class="text-center fs-3 p-1 text-secondary" >Databases / Data Lakes</p>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Dremio</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Snowflake</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Scality</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">MS SQL Server</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Oracle</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">MongoDB</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Firebase</p>
                    </div>
                </div class="text-center">
                <div class="row justify-content-evenly border bg-light mt-2 rounded">
                    <p class="text-center fs-3 p-1 text-secondary" >Data Visualization / Reporting</p>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Power BI</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Tableau</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Excel</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Seaborn</p>
                    </div>
                </div>

                <div class="row justify-content-evenly border bg-light mt-2 rounded">
                    <p class="text-center fs-3 p-1 text-secondary">A.I.</p>
                    <div class="col-md-5">
                        <!-- <p class="text-center bg-pill-0 p-3 rounded-pill"><a href="/ml">Machine Learning</a></p> -->
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Machine Learning</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Artificial Neural Networks</p>
                    </div>
                </div>

                <div class="row justify-content-evenly border bg-light mt-2 rounded">
                    <p class="text-center fs-3 p-1 text-secondary">Automation</p>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Power Apps</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Power Automate</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Alteryx</p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-center bg-pill-0 p-1 rounded-pill">Domino Data Lab</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="row h-auto my-5 p-5 d-flex justify-content-evenly bg-white border shadow rounded">
        <div class="row justify-content-evenly border bg-light rounded my-2 p-2">
            <p class="text-center text-secondary fs-3 p-1" >Data Viz</p>
            <div class="container pt-1">
                <img src="{{url_for('static',filename='powerbi.png')}}" class="w-100 img-fluid img-thumbnail rounded-1 p-1 bg-dark shadow" alt="...">
            </div>
            <div class="container pt-5">
                <img src="{{url_for('static',filename='powerbi2.png')}}" class="w-100 img-fluid img-thumbnail rounded-1 p-1 bg-dark shadow" alt="...">
            </div>
        </div>
    </div>
    <div class="row h-auto my-5 p-5 d-flex justify-content-evenly bg-white border shadow rounded">
        <div class="row justify-content-evenly border bg-light rounded my-2 p-3">
            <p class="text-center text-secondary fs-3 p-1" >Machine Learning - Salary Prediction</p>
            <div class="container pt-1">
                <div class="h-auto p-5 m-auto bg-white rounded-5 border border-dark">
                        <!-- <div class="container text-center w-50 h-25" style="position:absolute;background-color: rgb(255, 255, 0, 1);z-index: 9999;display: none;">
                            <h1>Coming Soon</h1>
                        </div> -->
                    <!-- Projects -->
                    <!-- <h1 class="text-center">Machine Learning - Salary Recommendation vs Experience</h1> -->
                        <div style="width: 10%;">
                        <br>
                        </div>
                    <form class="row justify-content-around" action="/salary" method="post">
                        <div class="col-md-5 h-100 border rounded border-dark bg-dark text-white p-3">
                            <p class="fs-4">Enter years of experience below:</p>
                            <input id="salary_pred" name="salary" class="form-control w-100 fs-4" placeholder="1 to 30" type="text">
                            <p class="error" style="display: none;"></p>
                            <button class="btn btn-pill mt-3 d-block mx-auto" type="submit">Submit</button>
                        </div>
                        <div class="col-md-5 bg-light rounded-5 border border-gray">
                            <p class="text-center h-100 rounded-5 d-flex align-items-center justify-content-center" style="font-size: 1.5rem;color: rgb(20, 100, 20, 1); font-weight: bold;">{{ salary }}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
