<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
  <div class="bg-dark p-4">
    <h5 class="h4" style="color: white; text-decoration: underline;">Menu</h5>
    <p class="text-body-secondary" ><a class="menu-links" href="/">About Me</a></p>
    <p class="text-body-secondary"><a class="menu-links" href="/ml">Machine Learning</a></p>
    <p class="text-body-secondary"><a class="menu-links" href="#">Data Viz</a></p>
  </div>
</div>
<nav class="navbar navbar-dark menu-bar">
  <div class="container-fluid">
    <button class="navbar-toggler" style="outline: none; border: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
    </button>
  </div>
</nav>
