<div class="container pt-5 fs-1">
    <div class="h-auto p-5 m-auto bg-white rounded-5 border border-dark row justify-content-around">
            <!-- <div class="container text-center w-50 h-25" style="position:absolute;background-color: rgb(255, 255, 0, 1);z-index: 9999;display: none;">
                <h1>Coming Soon</h1>
            </div> -->
        <!-- Projects -->
        <h1 class="text-center" style="text-decoration: underline;">Machine Learning - Salary Recommendation vs Experience</h1>
            <div class="text-left row align-items-center h-auto" style="width: 80%;">
                <p class="my-3 col-lg-9">I trained a simple linear regression model to predict salary based on years of experience.  The model takes one input in the form of an integer and returns a value for salary with a fixed decimal.  
                The server for this app was written in Python, and the model was created with scikit-learn.  Feel free to try it out below!
                </p>
                <img src="{{url_for('static',filename='metrics.png')}}" class="col-lg-3 h-auto img-fluid img-thumbnail rounded-1 p-1 bg-dark" alt="...">
            </div>
    </div>
</div>

<div class="container pt-5">
    <div class="h-auto p-5 m-auto bg-white rounded-5 border border-dark">
            <!-- <div class="container text-center w-50 h-25" style="position:absolute;background-color: rgb(255, 255, 0, 1);z-index: 9999;display: none;">
                <h1>Coming Soon</h1>
            </div> -->
        <!-- Projects -->
        <!-- <h1 class="text-center">Machine Learning - Salary Recommendation vs Experience</h1> -->
            <div style="width: 10%;">
            <br>
            </div>
        <form class="row justify-content-around" action="/salary" method="post">
            <div class="col-md-5 h-100 border rounded-5 border-dark bg-dark text-white p-3">
                <p class="fs-2">Enter years of experience below:</p>
                <input id="salary_pred" name="salary" class="form-control w-100 fs-2" placeholder="1 to 30" type="text">
                <p class="error" style="display: none;"></p>
                <button class="btn btn-pill mt-3" type="submit">Submit</button>
            </div>
            <div class="col-md-5 bg-light rounded-5 border border-gray">
                <p class="text-center h-100 rounded-5 d-flex align-items-center justify-content-center" style="font-size: 2.5rem;color: rgb(20, 100, 20, 1); font-weight: bold;">{{ salary }}</p>
            </div>
        </form>
    </div>
</div>