<div class="container pt-5 fs-1">
    <div class="h-auto p-5 m-auto bg-white rounded-5 border border-gray row justify-content-around">
        <h1 class="text-center" style="text-decoration: underline;">Power BI</h1>
            <div class="text-center" style="width: 80%;">
                <p class="my-3">I used a generic training set from Python to create the dashboard below.  The dataset contains information for housing prices in California circa 1990.
                    I created a few visuals to provide insights on correlation between data points, distribution of home prices, and the impact of location.
                </p>
            </div>
    </div>
</div>

<div class="container pt-5">
    <img src="{{url_for('static',filename='powerbi.png')}}" class="w-100 img-fluid img-thumbnail rounded-1 p-1 bg-dark" alt="...">
</div>