<html lang="en" style="background-color: rgb(247, 247, 247);">
<head>
    <style>
        html{
            visibility: hidden;
            opacity: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="preload" href="{{url_for('static',filename='bootstrap.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css')}}"></noscript>
    <link rel="preload" href="{{url_for('static',filename='style.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"></noscript>
    <script src="{{url_for('static',filename='render.js')}}" ></script>
    <script src="{{url_for('static',filename='bootstrap.bundle.min.js')}}" ></script>
</head>
<body style="background-color: rgb(247, 247, 247);">

<!-- inserting templates here -->

</body>
<script src="{{url_for('static',filename='custom.js')}}"></script>

</html>
  
