{% extends "bootstrap/base.html" %}
{% block title %} About me {% endblock %}
{% block html_attributes %}
<script src=bootstrap_find_resources(baseurl="<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>")></script>
{% endblock %}
{% block body %} 
    <p>Hello World</p>
    <a href="https://www.google.com/">Google</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <button class=""btn>Testing</button>
{% endblock %}
<p>Testing the debug</p>